body{
    margin:0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
}
.header img{
    width: 50%;
    height: 10%;
}
.guide{
display: flex;
list-style: none;
}
.guide a{
    color: #2C73D2;
    text-decoration: none;

   
}
 /*----MAIN---*/
 .linkBuilding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem; 
 }
 .linkBuilding h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
 }
 .linkBuilding-text {
    width: 80%;
 }

 .linkBuilding-text {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
 }
 .linkBuilding-cite{
    display: flex;
    justify-content: end;
    color: #2C73D2;
 }
 .linkBuilding-cite a{
    text-decoration: none;
    font-size: 0.8rem;
}
.linkBuilding-video{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.linkBuilng-resource{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.linkBuilng-resource-link{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.linkBuilng-resource-link h2{
    font-family: 'Montserrat', sans-serif;
}
.linkBuilng-resource-link a{
    font-family: 'Montserrat', sans-serif;
    color: #012030;
    text-decoration: none;
    line-height: 1.5rem;
}
/*------FOOTER-------*/
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #012030;
    
}
.footer-logos h3{
    font-family: 'Montserrat', sans-serif;
    color: #ADA4A4;
}
.footer-logos a img{
    width: 2rem;
    height: 2rem;
}
.footer-logos a{
    text-decoration: none;
    margin-right: 1rem;
}
.footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    color: #ADA4A4;
    font-weight:300;
}